# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

build
.gradle

# other
eclipse
run
.gradle/2.14/taskArtifacts/cache.properties.lock
*.lock
*.bin
*.bin
.gradle/2.14/taskArtifacts/fileHashes.bin
*.lock
SHORTCUT TO ASSETS.lnk
build
eclipse
"Build Mod.cmd"
.gradle
.settings
releases
.project
.DS_Store
.classpath